    <div class="jumbotron hero">
        <div class="container">
            
                <div class="col-xs-12 get-it">
                <h1 align="center">Edit Article <%= @article.id%></h1>
             
                    <%= render 'form' %>
                    
                 </div>
            
        </div>
    </div>
    
<%= render 'layouts/testimonials' %>  
<%= render 'layouts/features' %>