
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                
                <div class="col-md-push-7 col-md-pull-3 get-it">
                <h1>Create an Article</h1>
             
                    <%= render 'form' %>
                    
                 <button class="btn"><%= link_to "Back to Articles", articles_path %></button></div>
            </div>
        </div>
    </div>
    
<%= render 'layouts/testimonials' %>  
<%= render 'layouts/features' %>
 