<!--
    <div class="jumbotron hero">

        <div class="resume">
            <header class="page-header">
                <h1>Resume of Michael Tizol</h1><small><span class="fa fa-clock-o"></span> Last Updated on: Tuesday, December 29, 2015</small></header>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading resume-heading">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <figure><%= image_tag "mtizol.jpg", class: "img-circle img-responsive avatar" %></figure>
                                    <div class="row">
                                        <div class="col-xs-12 social-btns">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="list-inline social-btns-holder">
                                                        <li><a class="btn btn-default btn-social btn-google" role="button" href="#"><span class="fa fa-google"></span></a></li>
                                                        <li><a class="btn btn-default btn-social btn-facebook" role="button" href="#"><span class="fa fa-facebook"></span></a></li>
                                                        <li><a class="btn btn-default btn-social btn-twitter" role="button" href="#"><span class="fa fa-twitter"></span></a></li>
                                                        <li><a class="btn btn-default btn-social btn-linkedin" role="button" href="#"><span class="fa fa-linkedin"></span></a></li>
                                                        <li><a class="btn btn-default btn-social btn-github" role="button" href="#"><span class="fa fa-github"></span></a></li>
                                                        <li><a class="btn btn-default btn-social btn-stackoverflow" role="button" href="#"><span class="fa fa-stack-overflow"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    <ul class="list-group">
                                        <li class="list-group-item"><span>Michael Tizol</span></li>
                                        <li class="list-group-item"><span>Full Stack Developer/Designer</span></li>
                                        <li class="list-group-item"><span>migSig Inc.</span></li>
                                        <li class="list-group-item"><span><span class="fa fa-phone"></span> 516-983-1172 </span>
                                        </li>
                                        <li class="list-group-item"><span> <span class="fa fa-envelope"></span> michael@migsig.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="bs-callout">
                                <h4>Summary </h4>
                                <p>Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod
                                    aliquip mediocritatem, mei habemus persecuti mediocritatem ei. </p>
                                <p>Odio recteque expetenda eum ea, cu atqui maiestatis cum. Te eum nibh laoreet, case nostrud nusquam an vis. Clita debitis apeirian et sit, integre iudicabit elaboraret duo ex. Nihil causae adipisci id eos. </p>
                            </div>
                            <div class="bs-callout">
                                <h4>Research Interests </h4>
                                <p>Software Engineering, Machine Learning, Image Processing, Computer Vision, Artificial Neural Networks, Data Science, Evolutionary Algorithms. </p>
                            </div>
                            <div class="bs-callout">
                                <h4>Prior Expreience</h4>
                                <div class="list-group"><a class="list-group-item inactive-link"><h4 class="list-group-item-heading"> Software Engineer at Place Co</h4><p class="list-group-item-text">Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,&nbsp; te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei. </p></a>
                                    <a
                                    class="list-group-item inactive-link">
                                        <h4 class="list-group-item-heading"> Software Engineer at Some Other Place Co</h4>
                                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,&nbsp; te pri duis timeam scaevola, nam postea diceret ne.
                                            Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei. </p>
                                        <ul>
                                            <li>Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,&nbsp; te pri duis timeam scaevola, nam postea diceret
                                                ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei. </li>
                                            <li>Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,&nbsp; te pri duis timeam scaevola, nam postea diceret
                                                ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei. </li>
                                        </ul>
                                        </a>
                                </div>
                            </div>
                            <div class="bs-callout">
                                <h4>Key Expertise</h4>
                                <ul class="list-group">
                                    <li class="list-group-item"><span>Lorem ipsum dolor sit amet, ea vel prima adhuc </span></li>
                                    <li class="list-group-item"><span>Lorem ipsum dolor sit amet, ea vel prima adhuc </span></li>
                                    <li class="list-group-item"><span>Lorem ipsum dolor sit amet, ea vel prima adhuc </span></li>
                                    <li class="list-group-item"><span>Lorem ipsum dolor sit amet, ea vel prima adhuc </span></li>
                                    <li class="list-group-item"><span>Lorem ipsum dolor sit amet, ea vel prima adhuc </span></li>
                                    <li class="list-group-item"><span>Lorem ipsum dolor sit amet, ea vel prima adhuc </span></li>
                                </ul>
                            </div>
                            <div class="bs-callout">
                                <h4>Language and Platform Skills</h4>
                                <ul class="list-group">
                                    <li class="list-group-item inactive-link">
                                        <div class="progress-bar-container">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                                            </div><span class="progress-type">JavaScript/ NodeJS/ MEAN stack</span></div>
                                        <div class="progress-bar-container">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                                            </div><span class="progress-type">Java/ JavaEE/ Spring Framework </span></div>
                                        <div class="progress-bar-container">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span class="sr-only">70%</span></div>
                                            </div><span class="progress-type">PHP/ Lamp Stack </span></div>
                                        <div class="progress-bar-container">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span class="sr-only">70%</span></div>
                                            </div><span class="progress-type">Python/ Numpy/ Scipy </span></div>
                                        <div class="progress-bar-container">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"><span class="sr-only">65%</span></div>
                                            </div><span class="progress-type">C </span></div>
                                        <div class="progress-bar-container">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="sr-only">50%</span></div>
                                            </div><span class="progress-type">C++ </span></div>
                                        <div class="progress-bar-container">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"><span class="sr-only">10%</span></div>
                                            </div><span class="progress-type">Go </span></div>
                                        <div class="progress-meter">
                                            <div class="meter meter-left"><span class="meter-text">I suck</span></div>
                                            <div class="meter meter-left"><span class="meter-text">I know little</span></div>
                                            <div class="meter meter-right"><span class="meter-text">I'm a guru</span></div>
                                            <div class="meter meter-right"><span class="meter-text">I'm good</span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bs-callout">
                                <h4>Education </h4>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Degree </th>
                                                <th>Graduation Year</th>
                                                <th>CGPA </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Masters in Computer Science and Engineering</td>
                                                <td>2014 </td>
                                                <td>3.50 </td>
                                            </tr>
                                            <tr>
                                                <td>BSc. in Computer Science and Engineering</td>
                                                <td>2011 </td>
                                                <td>3.25 </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
-->

        <%= render 'layouts/testimonials' %>     
<%= render 'layouts/features' %>
    
    
 