    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
 <!--                    <div class="iphone-mockup"><%= image_tag 'ipad.svg'%> 
                        <div class="screen"><%= image_tag 'IMG_2679.PNG'%></div>
                   </div>-->
                </div>
                <div class="col-md-12 col-md-pull-3 get-it">
                    <h1>Contact Us</h1>
                    <p>Pick your pleasure:</p>
                    <p><a class="btn btn-primary btn-lg" role="button" href="http://twitter.com/migsig"><span class="fa fa-twitter"></span> Twitter</a><a class="btn btn-success btn-lg" role="button" href="https://instagram.com/migsig"><span class="fa fa-instagram"></span> Instagram</a></p>
                </div>
            </div>
        </div>
    </div>
<%= render 'layouts/testimonials2' %>  
<%= render 'layouts/features' %>
    