 <div class="container"><% flash.each do |key, value| %>
    <div class="alert alert-dismissable <%= flash_class(key) %> fade in">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     <h2 class="alert alert-<%= flash_class(key) %> fade in"> <%= value %></h2>
    </div>
  <% end %>
     </div>